<h1>Word!</h1>

<p>Here is your word and associated defintions:</p>
<ul>
  <% @words.each() do |word| %>
  <li><%=word.one_word() %>

    <% @def_list.each() do |definition| %>
    <%=definition.first_def() %>, <%=definition.second_def() %>, <%=definition.third_def() %></li>

    <% end %>
    <% end %>
